<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTCm</title>
  <link rel="apple-touch-icon" href="../../path/to/180.png">
  <style>
    .hidden {
      display: none;
    }
    .refresh {
      position: fixed;
      bottom: 15%;
      right: 5%;
      z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
    .info {
      position: fixed;
      bottom: 25%;
      right: 5%;
      z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
  </style>
</head>
<body>
  <main>
    <%- include('../../partials/header.ejs') %>
    <div class="container mt-3">
      <div class="mb-3">
        <h5 class="d-flex justify-content-center"><%= league.name %></h5>
      </div>
      <div class="mb-2">
        <a type="button" class="btn btn-secondary w-100" href="/league">뒤로가기</a>
      </div>
      <form id="leagueEnd" action="/league/end" method="POST">
        <input type="hidden" name="leagueIndex" value="<%= leagueIndex %>">
        <input type="hidden" name="deleteCommand" value="false" id="deleteCommand">
        <div class="btn-group d-flex justify-content-center mb-3" role="group" aria-label="Basic outlined example">
          <% if ((userRole == '회장') || (userRole == '부회장') || (userRole == '관리자') || ((league.players.find(player => player.name == userName)) && (userRole == '경기이사'))) { %>
            <!-- <a href="/league/ranking?leagueIndex=<%= leagueIndex %>" class="btn btn-outline-warning text-black bg-warning bg-opacity-75 fs-6">리그순위</a> -->
            <a href="/league/snack?leagueIndex=<%= leagueIndex %>" class="btn btn-outline-warning text-black bg-warning bg-opacity-75">간식점수</a>
            <a href="/league/edit?leagueIndex=<%= leagueIndex %>" class="btn btn-outline-warning text-black bg-warning bg-opacity-75">리그수정</a>
            <a href="/league/end?leagueIndex=<%= leagueIndex %>" class="btn btn-outline-warning text-black bg-warning bg-opacity-75">리그마감</a>
            <!-- <button class="btn btn-outline-warning bg-warning bg-opacity-75 text-primary fw-bold" onclick="endForm(event)">리그마감</button> -->
            <button class="btn btn-outline-warning bg-warning bg-opacity-75 text-danger fw-bold" onclick="deleteForm(event)">리그삭제</button>
          <% } else { %>
          <% } %>
        </div>
      </form>
      <div class="mb-3">
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <% let matchProgress = 0; %>
            <% league.matches.forEach(function(match, matchIndex) { %>
              <% if (match.score) { %>
                <% matchProgress++; %>
              <% } %>
            <% }) %>
            <% const matchPercent = Math.round((matchProgress / league.matches.length) * 100); %>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-black" style="width: <%= matchPercent %>%">
                <%= matchPercent %> %
              </div>
              <% if (matchPercent == 0) { %>
                <div class="m-auto">0 %</div>
              <% } %>
            </div>
          </li>
          <li class="list-group-item">
            <strong class="fs-5">순위</strong>
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th class="bg-white">#</th>
                  <th class="bg-white">선수</th>
                  <th class="bg-white">승</th>
                  <th class="bg-white">패</th>
                  <th class="bg-white">득</th>
                  <th class="bg-white">실</th>
                  <th class="bg-white">득실차</th>
                </tr>
              </thead>
              <tbody>
                <% rankingTest.forEach((ranking, index) => { %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td>
                      <% const playerSeed = league.players.find(player => player.name == ranking.name).seed %>
                      <% if (playerSeed.startsWith('시드')) { %>
                        <p><%= ranking.name %>(S)</p>
                      <% } else { %>
                        <p><%= ranking.name %></p>
                      <% } %>
                    </td>
                    <td class="text-primary fw-bold"><%= ranking.wins %></td>
                    <td class="text-danger fw-bold"><%= ranking.losses %></td>
                    <td><%= ranking.winGames %></td>
                    <td><%= ranking.loseGames %></td>
                    <td><%= ranking.gapWinLoss %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </li>
          <li class="list-group-item">
            <strong class="fs-5">매치</strong>
            <ul class="list-group list-group-flush">
              <% league.matches.forEach(function(match, matchIndex) { %>
                <% if ((matchIndex % 2) == 1) { %>
                  <li class="list-group-item text-center border-top-0 border-start-0 border-end-0 border-3 border-black">
                <% } else { %>
                  <li class="list-group-item text-center">
                <% } %>
                  <strong class="mb-2"><%= matchIndex + 1 %>번</strong>
                  <div class="row mb-2">
                    <% if (match.score && match.score.split(':')[0] == '6') { %>
                      <div class="col bg-warning rounded-2 pt-2 pb-2">
                        <% const team1Player1 = league.players.find(function(p) { return p.name === match.team1[0]; }); %>
                        <% if (team1Player1.seed.startsWith('시드')) { %>
                          <strong class="text-primary"><%= match.team1[0] %>(S)</strong>
                        <% } else { %>
                          <strong class="text-primary"><%= match.team1[0] %></strong>
                        <% } %>
                        <br>
                        <% const team1Player2 = league.players.find(function(p) { return p.name === match.team1[1]; }); %>
                        <% if (team1Player2.seed.startsWith('시드')) { %>
                          <strong class="text-primary"><%= match.team1[1] %>(S)</strong>
                        <% } else { %>
                          <strong class="text-primary"><%= match.team1[1] %></strong>
                        <% } %>
                      </div>
                    <% } else if (match.score && match.score.split(':')[1] == '6') { %>
                      <div class="col bg-warning rounded-2 bg-opacity-50 pt-2 pb-2">
                        <% const team1Player1 = league.players.find(function(p) { return p.name === match.team1[0]; }); %>
                        <% if (team1Player1.seed.startsWith('시드')) { %>
                          <strong><%= match.team1[0] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team1[0] %></strong>
                        <% } %>
                        <br>
                        <% const team1Player2 = league.players.find(function(p) { return p.name === match.team1[1]; }); %>
                        <% if (team1Player2.seed.startsWith('시드')) { %>
                          <strong><%= match.team1[1] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team1[1] %></strong>
                        <% } %>
                      </div>
                    <% } else { %>
                      <div class="col bg-secondary-subtle rounded-2 pt-2 pb-2">
                        <% const team1Player1 = league.players.find(function(p) { return p.name === match.team1[0]; }); %>
                        <% if (team1Player1.seed.startsWith('시드')) { %>
                          <strong><%= match.team1[0] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team1[0] %></strong>
                        <% } %>
                        <br>
                        <% const team1Player2 = league.players.find(function(p) { return p.name === match.team1[1]; }); %>
                        <% if (team1Player2.seed.startsWith('시드')) { %>
                          <strong><%= match.team1[1] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team1[1] %></strong>
                        <% } %>
                      </div>
                    <% } %>

                    <div class="col col-3 d-flex align-items-center">
                      <% if (match.score && match.score.split(':')[0] == '6') { %>
                        <strong class="fs-1 m-auto text-primary"><%= match.score.split(':')[0] %></strong>
                        <strong class="fs-2 m-auto"> : </strong>
                        <strong class="fs-4 m-auto"><%= match.score.split(':')[1] %></strong>
                      <% } else if (match.score && match.score.split(':')[1] == '6') { %>
                        <strong class="fs-4 m-auto"><%= match.score.split(':')[0] %></strong>
                        <strong class="fs-2 m-auto"> : </strong>
                        <strong class="fs-1 m-auto text-primary"><%= match.score.split(':')[1] %></strong>
                      <% } else { %>
                        <strong class="fs-2 m-auto">-</strong>
                      <% } %>
                    </div>
                    <% if (match.score && match.score.split(':')[1] == '6') { %>
                      <div class="col bg-warning rounded-2 pt-2 pb-2">
                        <% const team2Player1 = league.players.find(function(p) { return p.name === match.team2[0]; }); %>
                        <% if (team2Player1.seed.startsWith('시드')) { %>
                          <strong class="text-primary"><%= match.team2[0] %>(S)</strong>
                        <% } else { %>
                          <strong class="text-primary"><%= match.team2[0] %></strong>
                        <% } %>
                        <br>
                        <% const team2Player2 = league.players.find(function(p) { return p.name === match.team2[1]; }); %>
                        <% if (team2Player2.seed.startsWith('시드')) { %>
                          <strong class="text-primary"><%= match.team2[1] %>(S)</strong>
                        <% } else { %>
                          <strong class="text-primary"><%= match.team2[1] %></strong>
                        <% } %>
                      </div>
                    <% } else if (match.score && match.score.split(':')[0] == '6') { %>
                      <div class="col bg-warning rounded-2 bg-opacity-50 pt-2 pb-2">
                        <% const team2Player1 = league.players.find(function(p) { return p.name === match.team2[0]; }); %>
                        <% if (team2Player1.seed.startsWith('시드')) { %>
                          <strong><%= match.team2[0] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team2[0] %></strong>
                        <% } %>
                        <br>
                        <% const team2Player2 = league.players.find(function(p) { return p.name === match.team2[1]; }); %>
                        <% if (team2Player2.seed.startsWith('시드')) { %>
                          <strong><%= match.team2[1] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team2[1] %></strong>
                        <% } %>
                      </div>
                    <% } else { %>
                      <div class="col bg-secondary-subtle rounded-2 pt-2 pb-2">
                        <% const team2Player1 = league.players.find(function(p) { return p.name === match.team2[0]; }); %>
                        <% if (team2Player1.seed.startsWith('시드')) { %>
                          <strong><%= match.team2[0] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team2[0] %></strong>
                        <% } %>
                        <br>
                        <% const team2Player2 = league.players.find(function(p) { return p.name === match.team2[1]; }); %>
                        <% if (team2Player2.seed.startsWith('시드')) { %>
                          <strong><%= match.team2[1] %>(S)</strong>
                        <% } else { %>
                          <strong><%= match.team2[1] %></strong>
                        <% } %>
                      </div>
                    <% } %>
                  </div>
                  <div class="row">
                    <% if ((userName == match.team1[0]) || (userName == match.team1[1]) || (userName == match.team2[0]) || (userName == match.team2[1]) || (userRole == '회장') || (userRole == '부회장') || ((league.players.find(player => player.name == userName)) && (userRole == '경기이사')) || (userRole == '관리자')) { %>
                    <a type="button" class="btn btn-outline-warning fw-bold w-100" href="score?leagueIndex=<%= leagueIndex %>&matchIndex=<%= matchIndex %>">점수입력</a>
                    <% } %>
                  </div>
                </li>
              <% }) %>
            </ul>
          </li>
          <li class="list-group-item">
            <strong class="fs-5">간식점수</strong>
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th>이름</th>
                  <th>점수</th>
                  <th>비고</th>
                </tr>
              </thead>
              <tbody>
                <% if (league.snackScores && league.snackScores.length > 0) { %>
                  <% league.snackScores.forEach(function(snackScore, index) { %>
                    <tr>
                      <th scope="row"><%= snackScore.name %></th>
                      <td><%= snackScore.score %></td>
                      <td><%= snackScore.remark %></td>
                    </tr>
                  <% }) %>
                <% } else { %>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
      <div style="height: 100px;"></div>
    </div> 
  </main>
  <script>
    function toggleLeagueDetails(index) {
      const details = document.getElementById(`league-details-${index}`);
      const button = document.querySelector(`.btn[onclick="toggleLeagueDetails(${index})"]`);
      if (details.classList.contains('hidden')) {
        details.classList.remove('hidden');
        button.textContent = '접기';
      } else {
        details.classList.add('hidden');
        button.textContent = '펼치기';
      }
    }

    function refreshPage() {
      location.reload();
    }

    function deleteForm(event) {
      var confirmation = confirm("정말로 리그를 삭제하시겠습니까?");
      if (confirmation) {
        document.getElementById("deleteCommand").value = "true";
        document.getElementById("leagueEnd").submit(); // 사용자가 '네'를 선택한 경우 폼을 제출
      } else {
        event.preventDefault(); // 기본 폼 제출을 막음
      }
    }

    function endForm(event) {
      var confirmation = confirm("정말로 리그를 마감하시겠습니까?");
      if (confirmation) {
        document.getElementById("deleteCommand").value = "false";
        document.getElementById("leagueEnd").submit(); // 사용자가 '네'를 선택한 경우 폼을 제출
      } else {
        event.preventDefault(); // 기본 폼 제출을 막음
      }
    }

    // 페이지 로드 시 모든 리그 세부 사항을 숨김
    document.addEventListener('DOMContentLoaded', function() {
      const details = document.querySelectorAll('[id^="league-details-"]');
      details.forEach(detail => detail.classList.add('hidden'));
      const buttons = document.querySelectorAll('.toggle-button');
      buttons.forEach(button => button.textContent = '펼치기');
    });
  </script>
  <div class="bg-warning text-white text-center align-content-center info rounded-pill z-3" style="width: 50px; height: 50px;">
    <a href="/league/info?leagueIndex=<%= leagueIndex %>">
      <img src="/icon/information.svg" style="width: 60%; height: 60%;">
    </a>
  </div>
  <div class="bg-primary text-white text-center align-content-center refresh rounded-pill z-3" style="width: 50px; height: 50px;">
    <a onclick="refreshPage()">
      <img src="/icon/refresh.svg" style="width: 60%; height: 60%;">
    </a>
  </div>
  <%- include('../../partials/footer.ejs') %>
</body>
</html>
