<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>한울타리 테니스</title>
  <link rel="apple-touch-icon" href="../../path/to/180.png">
  <style>
    .hidden {
      display: none;
    }
    .add {
      position: fixed;
      bottom: 100px;
      right: 20px;
      z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
    .money {
      position: fixed;
      bottom: 160px;
      right: 20px;
      z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    }
  </style>
</head>
<body>
  <main>
    <%- include('../../partials/header.ejs') %>
    <div class="container mt-3">
      <div class="mb-3">
        <h5 class="d-flex justify-content-center">리그</h5>
      </div>
      <!-- <div>
        <div class="d-flex justify-content-center mb-3">
          <a type="button" href="/league/meal" class="btn btn-warning w-100">밥값계산</a>
        </div>
      </div> -->
      <div class="mb-3">
        <% if (leagues.length === 0) { %>
          <div class="text-center">
            <strong>진행 중인 리그가 없습니다.</strong>
          </div>
        <% } %>
        <ul class="list-group">
          <% leagues.forEach(function(league, leagueIndex) { %>
            <li class="list-group-item list-group-item-warning">
              <h6 class="flex-fill fw-bold text-danger"><%= league.name %> <%= league.format %> <%= league.court %></h6>
              <div class="row">
                <div class="col">
                  <strong>진행률</strong>
                </div>
                <div class="col-9">
                  <% let matchProgress = 0; %>
                  <% league.matches.forEach(function(match, matchIndex) { %>
                    <% if (match.score) { %>
                      <% matchProgress++; %>
                    <% } %>
                  <% }) %>
                  <% const matchPercent = Math.round((matchProgress / league.matches.length) * 100); %>
                  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning text-black" style="width: <%= matchPercent %>%">
                      <%= matchPercent %> %
                    </div>
                    <% if (matchPercent == 0) { %>
                      <div class="m-auto">0 %</div>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <strong>참가자</strong>
                </div>
                <div class="col-9" style="white-space: normal; overflow-wrap: break-word; word-wrap: break-word;">
                  <% for (var i = 0; i < league.people; i++) { %>
                    <% if (league.players[i].seed.startsWith('시드')) { %>
                      <span class="text-primary fw-bold" style="display: inline-block; margin-right: 5px;"><%= league.players[i].name %></span>
                    <% } %>
                  <% } %>
                  <% for (var i = 0; i < league.people; i++) { %>
                    <% if (league.players[i].seed.startsWith('선수')) { %>
                      <span style="display: inline-block; margin-right: 5px;"><%= league.players[i].name %></span>
                    <% } %>
                  <% } %>
                </div>
              </div>
              <a type="button" class="btn btn-warning w-100" href="/league/detail?leagueIndex=<%= leagueIndex %>">리그입장</a>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div style="height: 100px;"></div>
  </main>
  <script>
    function toggleLeagueDetails(index) {
      const details = document.getElementById(`league-details-${index}`);
      const button = document.querySelector(`.btn[onclick="toggleLeagueDetails(${index})"]`);
      if (details.classList.contains('hidden')) {
        details.classList.remove('hidden');
        button.textContent = '접기';
      } else {
        details.classList.add('hidden');
        button.textContent = '펼치기';
      }
    }

    // 페이지 로드 시 모든 리그 세부 사항을 숨김
    document.addEventListener('DOMContentLoaded', function() {
      const details = document.querySelectorAll('[id^="league-details-"]');
      details.forEach(detail => detail.classList.add('hidden'));
      const buttons = document.querySelectorAll('.toggle-button');
      buttons.forEach(button => button.textContent = '펼치기');
    });
  </script>
  <div class="bg-success text-white text-center align-content-center money rounded-5 z-3" style="width: 120px; height: 50px; display: flex; align-items: center; justify-content: center;">
    <!-- <a href="/league/meal" style="color: white; text-decoration: none; display: flex; align-items: center; gap: 5px;"> -->
    <a href="/league/meal" style="color: white; text-decoration: none;">
      <img src="/icon/money.svg" style="width: 30px; height: 30px;">
      <span>밥값계산</span>
    </a>
  </div>
  <div class="bg-primary text-white text-center align-content-center add rounded-5 z-3" style="width: 120px; height: 50px;  display: flex; align-items: center; justify-content: center;"">
    <a href="/league/new/info" style="color: white; text-decoration: none;">
      <img src="/icon/add.svg" style="width: 30px; height: 30px">
      <span>신규리그</span>
    </a>
  </div>
  <%- include('../../partials/footer.ejs') %>
</body>
</html>
