<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>한울타리</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
  </style>
</head>
<body>
  <%- include('../../partials/header.ejs') %>
  <main>
    <div class="container mt-3">
      <div class="mb-3">
        <h5 class="d-flex justify-content-center">회원변경</h5>
      </div>
      <form id="memberEditForm" action="/admin/member/edit" method="POST">
        <input type="hidden" id="formerName" name="formerName" value="<%= member.name %>">
        <div class="container mb-3">
          <a href="/admin/member" class="btn btn-secondary w-100 mb-3">돌아가기</a>
          <a href="/admin/member/delete/<%= member.name %>" class="btn btn-danger w-100 mb-3">탈퇴처리</a>
          <button type="submit" class="btn btn-warning w-100 mb-3">변경등록</button>
        </div>
        <div class="container mb-3">
          <div class="mb-3">
            <label for="editName" class="form-label">이름 변경</label>
            <input type="text" class="form-control" id="editName" name="editName" value="<%= member.name %>">
          </div>
          <div class="mb-3">
            <label for="editRole" class="form-label">직책 변경</label>
            <select class="form-select" aria-label="Default select example" id="editRole" name="editRole">
              <option value="회원" <%= member.role === '회원' ? 'selected' : '' %>>회원</option>
              <option value="회장" <%= member.role === '회장' ? 'selected' : '' %>>회장</option>
              <option value="부회장" <%= member.role === '부회장' ? 'selected' : '' %>>부회장</option>
              <option value="1부총무" <%= member.role === '1부총무' ? 'selected' : '' %>>1부총무</option>
              <option value="2부총무" <%= member.role === '2부총무' ? 'selected' : '' %>>2부총무</option>
              <option value="경기이사" <%= member.role === '경기이사' ? 'selected' : '' %>>경기이사</option>
              <option value="운영이사" <%= member.role === '운영이사' ? 'selected' : '' %>>운영이사</option>
              <option value="섭외이사" <%= member.role === '섭외이사' ? 'selected' : '' %>>섭외이사</option>
              <option value="휴면" <%= member.role === '휴면' ? 'selected' : '' %>>휴면</option>
              <option value="관리자" <%= member.role === '관리자' ? 'selected' : '' %>>관리자</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="editPhone" class="form-label">전화번호 변경</label>
            <input type="text" class="form-control" id="editPhone" name="editPhone" value="<%= member.phone %>">
          </div>
        </div>
      </form>
    </div>
    <div style="height: 100px;"></div>
  </main>
  <%- include('../../partials/footer.ejs') %>
</body>
</html>
