<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한울타리</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
  </style>
</head>
<body>
  <%- include('../../partials/header.ejs') %>
  <main>
    <div class="container mt-3">
      <div class="mb-3">
        <h5 class="d-flex justify-content-center">코트관리</h5>
      </div>
      <div class="container">
        <a href="/admin/" class="btn btn-secondary w-100 mb-3">돌아가기</a>
        <a href="/admin/court/add" class="btn btn-warning w-100 mb-3">코트추가</a>
      </div>
      <div class="container">
        <div class="accordion" id="courtList">
          <% courts.forEach((court, index) => { %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button bg-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                  <%= court %>                
                </button>
              </h2>
              <div id="collapse<%= index %>" class="accordion-collapse collapse" data-bs-parent="#courtList">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col">
                          <a href="/admin/court/edit/<%= court %>" class="btn btn-primary w-100">수정</a>
                        </div>
                        <div class="col">
                          <a class="btn btn-danger w-100">삭제</a>
                        </div>
                      </div>
                    </li>
                    <% courtData.filter(data => data.place === court).forEach(c => { %>
                      <li class="list-group-item">
                        <%= c.court %>
                        <%= c.surface %>
                        <%= c.type %>
                      </li>
                    <% }); %>
                  </ul>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
    <div style="height: 100px;"></div>
  </main>
  <%- include('../../partials/footer.ejs') %>
</body>
</html>
